body {
    padding: 0;
    margin: 0;
    background: #3b4252;
    color: #eceff4;
}

.top_section {
    width: 80vw;
}

header {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: url("./Nova_woke_up_late-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    border: solid 2px #5e81ac;
    padding: 0px 10px;
    height: 17rem;
    justify-content: flex-end;
}

header h1 {
    color: #eceff4;
    padding-top: 10rem;
    padding-right: 10rem;
}

.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow-y: scroll;
}

main {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    gap: 1rem;
    height: 60vh;
}

nav {
    padding: 0px 10px;
}

aside {
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    flex: 20;
    border: solid 2px #5e81ac;
}

aside hr {
    color: #5e81ac;
}

section {
    padding: 0px 10px;
}

article {
    flex: 80;
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    border: solid 2px #5e81ac;
    overflow-y: scroll;

}

article hr {
    color: #5e81ac;
}

@media (max-width: 768px) {
    .everything {
        height: 100%;
    }

    .top_section {
        width: 90vw;
    }

    header {
        height: 4.2rem;
        background-color: #434c5e;
        box-shadow: 0.5rem 1rem #2e3440;
        text-align: center;
        padding: 0;
    }

    header h1 {
        height: 1rem;
        color: #eceff4;
        font-size: 0.8rem;
        padding: 2rem 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: space-between;
        height: 80rem;
        padding-bottom: 1rem;

    }

    section {
        padding: 1rem;
    }

    article {
        width: 90vw;
        flex: 80;
        height: 100%;
    }

    nav {
        padding: 1rem;
    }

    aside {
        margin: 1rem 0rem;
        background-color: #434c5e;
        box-shadow: 0.5rem 1rem #2e3440;
        width: 90vw;
        flex: 20;
        overflow-y: scroll;
    }

    aside h2 {
        text-align: center;
    }

}