body {
    padding: 0;
    margin: 0;
    background: #3b4252;
    color: #eceff4;

}

.top_section {
    width: 80vw;
}

header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    border: solid 2px #5e81ac;
    padding: 0px 10px;
}
header .h1 {
        color: #eceff4;
        text-align: left;
    }
 
.everything {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

main {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    gap: 1rem;
    height: 60vh;
}

nav {
        padding: 0px 10px;
}

aside {
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    flex: 20;
    border: solid 2px #5e81ac;
}
aside hr{
    color: #5e81ac;
}

section {
    padding: 0px 10px;
    flex: 80;
    background-color: #434c5e;
    box-shadow: 0.5rem 1rem #2e3440;
    border: solid 2px #5e81ac;
}

@media (max-width: 768px) {
    .top_section {
        width: 90vw;
    }
    header {
        margin-top: 1rem;
        background-color: #434c5e;
        box-shadow: 0.5rem 1rem #2e3440;
        text-align: center;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 90vw;
        justify-content: space-between;
        height: 60rem;
        padding-bottom: 1rem;

    }

    section {
        width: 81vw;
        padding: 1rem;
        background-color: #434c5e;
        box-shadow: 0.5rem 1rem #2e3440;
        overflow-y: scroll;
        flex: 80;
    }

    aside {
        margin: 1rem 0rem;
        background-color: #434c5e;
        box-shadow: 0.5rem 1rem #2e3440;
        width: 81vw;
        padding: 1rem;
        flex: 20;
        overflow-y: scroll;
    }
    aside h2{
        text-align: center;
    }

}